.container 
  %h2 Comments
  - @movie.comments.each do |comment|
    %p
      %strong Commenter:
      = comment.author
    %p
      %strong Title
      = comment.title
    %p
      %strong Content
      = comment.body
    %p
      %strong.timestamp 
        Posted #{time_ago_in_words(comment.created_at)} ago.
    %p 
      = link_to "Delete Comment", [comment.movie, comment], method: :delete, data: { confirm: 'Are you sure?' }
