= bootstrap_form_for [@movie, @movie.comments.build], url: movie_comments_path(@movie), html: { multipart: true }, layout: :horizontal  do |f|
  = f.text_field :title, :placeholder => 'Title'
  = f.text_area :body, placeholder: 'Body'
  = f.hidden_field :user_id, :value => current_user.id
  = f.hidden_field :author, :value => current_user.try(:name).try(:id)
  = f.hidden_field :movie_id, :value => @movie.id
  = f.submit 'Zapisz zmiany', class: 'btn btn-primary col-sm-offset-3'